<section class="cta-area py-7 bg-white border border-light">

    <ul class="circles">
        <li><i class="fa fa-envelope-open fa-5x"></i></li>
        <li><i class="fa fa-envelope fa-4x"></i></li>
        <li><i class="fa fa-envelope fa-3x"></i></li>
        <li><i class="fa fa-envelope-open fa-2x"></i></li>
        <li><i class="fa fa-envelope fa-1x"></i></li>
        <li><i class="fa fa-envelope fa-2x"></i></li>
        <li><i class="fa fa-envelope fa-1x"></i></li>
        <li><i class="fa fa-envelope fa-3x"></i></li>
        <li><i class="fa fa-envelope fa-2x"></i></li>
        <li><i class="fa fa-envelope fa-5x"></i></li>
    </ul>

    <div class="container text-center z-index-10 position-relative  ">
        <div class="row">
            <div class="col-md-8 m-auto">
                <h2 class="text-secondary">{{t "Subscribe to see what we're thinking"}}</h2>
                <p>{{t "Subscribe to get access to premium content or contact us if you have any questions."}}</p>
                <a href="#/portal/signup" class="btn btn-outline-danger border-2 bg-hover-danger text-hover-white box-hover btn-circle">{{t "Subscribe Now"}} </a>
            </div>
        </div>
    </div>
</section>