{{!< default}} 
{{> "header"}}
{{> "featured-widget-02"}}
{{> "nf-home-ads"}}   
{{!-- nf widget section --}}
<section class="nf-widget-section py-5 ">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-md-7">
            {{> "nf-widget-01"}}
         </div>
         <div class="col-lg-4 col-md-5">
            {{> "sidebar"}}
         </div>
      </div>
   </div>
</section>

{{> "nf-home-common-section"}}
{{> "cta-section"}}
{{> "footer"}}