{{!< default}}
{{> "header"}}
{{!-- nf content section --}}
<section class="nf-page-content-section">
   {{> "nf-page-title"}}
   <div class="container pt-3">
      <div class="row">
         <!--  single pricing box  -->
         <div class="col-md-12 col-lg-4 ">
            <div class="single-price-box text-center p-5 rounded  border-light border">
               <div class="price-box-content">
                  <h3 class="price-head">Free</h3>
                  <div class="sub-price">Basic Plan</div>
                  <div class="price-inner-content">
                     <div class="price">
                        <h2><sup>$</sup><span>0</span></h2>
                     </div>
                     <div class="price-box-inner">
                        <ul>
                           <li>Full access to articles</li>
                           <li>Daily updates</li>
                           <li>Support independent publishing</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="pricing-table-btn">
                  <a href="#/portal/signup/free"
                     class="btn btn-outline-danger border-2 bg-hover-danger text-hover-white btn-circle">{{t "Signup"}}</a>
               </div>
            </div>
         </div>
         <!--  // single pricing box  -->
         <div class="col-md-12 col-lg-4 ">
               <div class="single-price-box text-center p-5 border-light border rounded ">
               <div class="price-box-content">
                   <h3 class="price-head">Monthly Plan</h3>
               <div class="sub-price">Standard Plan</div>
                  <div class="price-inner-content">
                     <div class="price">
                        <h2><sup>$</sup><span>5</span></h2>
                     </div>
                     <div class="price-box-inner">
                        <ul>
                           <li>Full access to articles</li>
                           <li>Daily updates</li>
                           <li>Support independent publishing</li>
                           <li>Secure Payments</li>
                           <li>No advertisement</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="pricing-table-btn">
                  <a href="javascript:" data-members-plan="Monthly"
                           class="btn btn-outline-danger border-2 bg-hover-danger text-hover-white btn-circle">{{t "Subscribe"}}</a>
               </div>
            </div>
         </div>
         <div class="col-md-12 col-lg-4 ">
                 <div class="single-price-box text-center p-5 rounded  border-light border">
               <div class="price-box-content">
                 <h3  class="price-head">Yearly Plan</h3>
               <div class="sub-price">Advanced Plan</div>
                  <div class="price-inner-content">
                     <div class="price">
                        <h2><sup>$</sup><span>50</span></h2>
                     </div>
                     <div class="price-box-inner">
                        <ul>
                      <li>Full access to articles</li>
                           <li>Daily updates</li>
                           <li>Support independent publishing</li>
                           <li>Secure Payments</li>
                           <li>No advertisement</li>
                           <li>One step way to pay</li>
                           <li>Secure Payments</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="pricing-table-btn">
                   <a href="javascript:" data-members-plan="Yearly"
                           class="btn btn-outline-danger border-2 bg-hover-danger text-hover-white btn-circle">{{t "Subscribe"}}</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
 
{{> "footer"}}
