{{!< default}}
<section class="login-area py-5">
    <div class="container">
        <div class="w-75 text-center mx-auto">
            <h2 class="error-logo display-1 text-danger">{{t "404"}}</h2>
            <p class="w-50 mx-auto">{{t "Womp! This page doesn’t exist. Maybe you can find what you need on our homepage."}}</p>
            <a href="{{@site.url}}" class="btn btn-danger text-white">{{t "Return to Homepage"}}</a>
        </div>
    </div>
</section>