<div class="footer-widget">
    <h5 class="mb-3">{{t "Contact Info"}}</h5>
    <ul class="footer-nav list-inline">
        <li><a href="#"><span class="icon"><i class="fas fa-map-pin"></i></span>1 NoMore way, Africa,
            CA</a></li>
        <li><a href="mailto:nomoreglobalinfo@gmail.com"><span class="icon"><i class="fas fa-envelope-open"></i></span>nomoreglobalinfo@gmail.com</a>
        </li>
    </ul>
</div>