
/* ============================================== 
  7. Contact Area 
============================================== */
.contact-box{
  box-shadow: $box-shadow-lg;
  background-color:$light;
  padding:2rem;
  position:relative;
  margin-bottom:2rem;
  .contact-border{
     width:100%;
     height:.5rem;
     display:block;
     position:absolute;
     top:0;
     left:0;
     right:0;  
     border-top-right-radius:.2rem;   
     border-top-left-radius:.2rem; 
  }
}

.contact-form textarea {
  height: 11em;
}